.body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-color: whitesmoke;
}

.navbar {
  display: block;
  background-color: white;
  font-family: Arial;
  top: 0;
}

.navbar a {
  float: left;
  font-size: 16px;
  padding: 14px 16px;
  text-decoration: none;

}

.sign-in{
  text-align: center;
  font-size: large;
  border: 1cm;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  background-color: #FF6845;
  width: 75%;
  height:2%;
  display: flex;
  justify-content: center;
  align-items: center;

}

ul {
  list-style-type: none;
  margin-top: 25;
  margin-right: 40;
  padding: 0;
  float: right;
}

ul a:visited{
  color: white;
}

ul a:hover{
  color: #FF6845;
  background-color: white;
}


.mySlides {
  width: 100%;
  height: 70%;
}

.content {
  width: 100%;
  height: 80%;
  object-fit: cover;
  background-color: whitesmoke;
}

.share1 {
  float: left;
  width: 31%;
  height: 100%;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  border: 0cm;
  border-style: solid;
  background-color: gray;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.share3 {
  float: left;
  width: 31%;
  height: 100%;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  margin-right: 0.5%;
  border: 0cm;
  border-style: solid;
  background-color: gray;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: white;
  color: navy;
  margin-bottom: 0;
  border-bottom: 0;
}

.logo-footer {
  height: 75;
}
@media only screen and (max-width: 1030px) {
  .mySlides {
    height: 60%;
  }
}
@media only screen and (max-width: 930px) {
  .mySlides {
    height: 50%;
  }
}
@media only screen and (max-width: 830px) {
  .mySlides {
    height: 40%;
  }
}
@media only screen and (max-width: 730px) {
  .mySlides {
    height: 30%;
  }
}

/* Slogan text animation */
.text-size {
  width: 703px;
  height: 181px;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

@media only screen and (max-width: 1300px) {
  .text-size {
    width: 550px;
    height: 120px;
    margin-left: -40px;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 1030px) {
  .text-size {
    width: 550px;
    height: 120px;
    margin-left: -70px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 930px) {
  .text-size {
    width: 500px;
    height: 100px;
    margin-left: -100px;
    margin-top: -15px;
  }
}
@media only screen and (max-width: 830px) {
  .text-size {
    width: 450px;
    height: 85px;
    margin-left: -130px;
    margin-top: -50px;
  }
}
@media only screen and (max-width: 730px) {
  .text-size {
    width: 400px;
    height: 70px;
    margin-left: -150px;
    margin-top: -80px;
  }
}
#slogan {
  font-size: 0%;
  position: absolute;
  top: 35%;
  transform: translate(-24%, -10%);
  animation: fill 1s ease forwards 4.5s;
}
#slogan path:nth-child(1){
  stroke-dasharray: 315px;
  stroke-dashoffset: 315px;
  animation: line-animation 2s ease forwards;
}
#slogan path:nth-child(2){
  stroke-dasharray: 260px;
  stroke-dashoffset: 260px;
  animation: line-animation 2s ease forwards;
}
#slogan path:nth-child(3){
  stroke-dasharray: 270px;
  stroke-dashoffset: 270px;
  animation: line-animation 2s ease forwards 0.2s;
}
#slogan path:nth-child(4){
  stroke-dasharray: 147px;
  stroke-dashoffset: 147px;
  animation: line-animation 2s ease forwards 0.4s;
}
#slogan path:nth-child(5){
  stroke-dasharray: 147px;
  stroke-dashoffset: 147px;
  animation: line-animation 2s ease forwards 0.6s;
}
#slogan path:nth-child(6){
  stroke-dasharray: 384px;
  stroke-dashoffset: 384px;
  animation: line-animation 2s ease forwards 0.8s;
}
#slogan path:nth-child(7){
  stroke-dasharray: 234px;
  stroke-dashoffset: 234px;
  animation: line-animation 2s ease forwards 1.0s;
}
#slogan path:nth-child(8){
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  animation: line-animation 2s ease forwards 1.2s;
}
#slogan path:nth-child(9){
  stroke-dasharray: 315px;
  stroke-dashoffset: 315px;
  animation: line-animation 2s ease forwards 1.4s;
}
#slogan path:nth-child(10){
  stroke-dasharray: 260px;
  stroke-dashoffset: 260px;
  animation: line-animation 2s ease forwards 1.6s;
}
#slogan path:nth-child(11){
  stroke-dasharray: 270px;
  stroke-dashoffset: 270px;
  animation: line-animation 2s ease forwards 1.8s;
}
#slogan path:nth-child(12){
  stroke-dasharray: 322px;
  stroke-dashoffset: 322px;
  animation: line-animation 2s ease forwards 2.0s;
}
#slogan path:nth-child(13){
  stroke-dasharray: 275px;
  stroke-dashoffset: 275px;
  animation: line-animation 2s ease forwards 2.2s;
}
#slogan path:nth-child(14){
  stroke-dasharray: 261px;
  stroke-dashoffset: 261px;
  animation: line-animation 2s ease forwards 2.4s;
}
#slogan path:nth-child(15){
  stroke-dasharray: 250px;
  stroke-dashoffset: 250px;
  animation: line-animation 2s ease forwards 2.6s;
}
#slogan path:nth-child(16){
  stroke-dasharray: 233px;
  stroke-dashoffset: 233px;
  animation: line-animation 2s ease forwards 2.8s;
}
#slogan path:nth-child(17){
  stroke-dasharray: 270px;
  stroke-dashoffset: 270px;
  animation: line-animation 2s ease forwards 3.0s;
}
#slogan path:nth-child(18){
  stroke-dasharray: 350px;
  stroke-dashoffset: 350px;
  animation: line-animation 2s ease forwards 0.4s;
}
#slogan path:nth-child(19){
  stroke-dasharray: 350px;
  stroke-dashoffset: 350px;
  animation: line-animation 2s ease forwards 0.6s;
}
#slogan path:nth-child(20){
  stroke-dasharray: 280px;
  stroke-dashoffset: 280px;
  animation: line-animation 2s ease forwards 0.8s;
}
#slogan path:nth-child(21){
  stroke-dasharray: 280px;
  stroke-dashoffset: 280px;
  animation: line-animation 2s ease forwards 1.0s;
}
#slogan path:nth-child(22){
  stroke-dasharray: 235px;
  stroke-dashoffset: 235px;
  animation: line-animation 2s ease forwards 1.2s;
}
#slogan path:nth-child(23){
  stroke-dasharray: 233px;
  stroke-dashoffset: 233px;
  animation: line-animation 2s ease forwards 1.4s;
}
#slogan path:nth-child(24){
  stroke-dasharray: 300px;
  stroke-dashoffset: 300px;
  animation: line-animation 2s ease forwards 1.6s;
}
#slogan path:nth-child(25){
  stroke-dasharray: 280px;
  stroke-dashoffset: 280px;
  animation: line-animation 2s ease forwards 1.8s;
}
#slogan path:nth-child(26){
  stroke-dasharray: 310px;
  stroke-dashoffset: 310px;
  animation: line-animation 2s ease forwards 2.0s;
}
#slogan path:nth-child(27){
  stroke-dasharray: 250px;
  stroke-dashoffset: 250px;
  animation: line-animation 2s ease forwards 2.2s;
}
#slogan path:nth-child(28){
  stroke-dasharray: 280px;
  stroke-dashoffset: 280px;
  animation: line-animation 2s ease forwards 2.4s;
}
#slogan path:nth-child(29){
  stroke-dasharray: 295px;
  stroke-dashoffset: 295px;
  animation: line-animation 2s ease forwards 2.6s;
}
#slogan path:nth-child(30){
  stroke-dasharray: 300px;
  stroke-dashoffset: 300px;
  animation: line-animation 2s ease forwards 2.8s;
}
#slogan path:nth-child(31){
  stroke-dasharray: 250px;
  stroke-dashoffset: 250px;
  animation: line-animation 2s ease forwards 3.0s;
}
#slogan path:nth-child(32){
  stroke-dasharray: 170px;
  stroke-dashoffset: 170px;
  animation: line-animation 2s ease forwards 3.2s;
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}