{% load static %}
<html>

<head>
    <title> Edit User Profile </title>
    <link href="{% static "css/edit_profile_style.css" %}" rel="stylesheet">
    <link rel="icon" href="{% static "image/puzzle.png" %}">
</head>

<body class="body">
    <nav class="navbar">
        <a class="navbar-brand">
            <a href="{% url 'BetterTogetherApp:index' %}"> <img class="logo" src="{% static "image/long-logo-3.png" %}"
                    height="65" alt="BetterTogether"></a>
        </a>
    </nav>
    <div class="container">
        <div class="head">
            <h1>
                <center>&bull; Edit User Profile &bull;
            </h1>
            <form action='{% url "BetterTogetherApp:edit_profile" %}' method="post">
        </div>
        <div class="underline"></div>
        <div class="content">
            <form action='{% url "BetterTogetherApp:edit_profile" %}' method="post">
                {% csrf_token %}
                Gender (Capital F or M): {{ form.gender }}
                <br><br> Birthday (YYYY-MM-DD) - Year-Month-Date Format: {{ form.birthday }}
                <br><br> Background Infomation: {{ form.brief_info }}
                <br><br> Phone Number: {{ form.phone_num }}
                <br><br> Twitter: {{form.twitter}}
                <br><br><button type="submit">Submit</button>
            </form>

            <a class="back-to-index" href="{% url 'BetterTogetherApp:profile' %}">
                <center><br>GO BACK TO PROFILE
            </a>
        </div>
    </div>
    <div class="footer">
        <img class="logo-footer" src="{% static "image/logo-1.png" %}" alt="BetterTogether">
    </div>
</body>

</html>