<html>

<head>
	<title>Better Together</title>
	<link href="css/homepage_style.css" rel="stylesheet">
</head>

<body class="body">
	<nav class="navbar">
		<a class="navbar-brand" href="#">
			<a href="homepage.html"><img src="image/long-logo-3.png" height="65" alt="BetterTogether">
			</a>
			<ul>
				<li><a href="homepage.html">Sign Up</a></li>
			</ul>
			<ul>
				<li><a href="homepage.html">Log in</a></li>
			</ul>
	</nav>
	<center><img class="mySlides" src="image/1.jpg">
		<center><img class="mySlides" src="image/2.jpg">
			<center><img class="mySlides" src="image/3.jpg">
					<section class="content">
						<div class="share1">
							<h1> 15A</h1>
						</div>
						<div class="share1 ">
							<h1> 15A</h1>
						</div>
						<div class="share3">
							<h1> 15A</h1>
						</div>
					</section>
					<div class="footer">
						<img class="logo-footer" src="image/logo-1.png" alt="BetterTogether">
					</div>
</body>
<script src="js/homepage_style.js"></script>

</html>