<html>

<head>
  {% load static %}
  {% block css %}
  <title>Login with BetterTogether</title>
  <link rel="icon" href="{% static "image/puzzle.png" %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/login_style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% endblock %}
  <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
  </style>

</head>

{% block content %}


<div>
  <section class="forms-section">
    <div class="forms">
      <div class="form-wrapper is-active">
        <button type="button" class="switcher switcher-login">
          Log in
          <span class="underline"></span>
        </button>
        <form class="form form-login" action='{% url "BetterTogetherApp:login" %}' method="POST">
          {% csrf_token %}
          <fieldset>
            <legend>Please, enter your username and password for login.</legend>
            <p>Get started with BetterTogether? </p><a href="{% url "BetterTogetherApp:signup" %}">Sign Up</a>
            <div class="input-block">
              <label for="login-username">Username</label>
              <br> {{form2.username}}
            </div>
            <div class="input-block">
              <label for="login-password">Password</label>
              <br> {{form2.password}}
            </div>
          </fieldset>
          <button type="submit" class="btn-login">Login</button>
          <fieldset>
            <hr class="line">
          </fieldset>
          <fieldset style="text-align:center;"> Or Log In With</fieldset>
          <fieldset>
            <fieldset>
              <div class="spacebox">
              </div>
            </fieldset>
            <div class="OAuth-Botton">
              <ul>
                <li>
                  <a href="{% url "oauth:begin" "google-oauth2" %}?next={{ request.path }}">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                    <span> Google</span>
                  </a>
                </li>
              </ul>
            </div>
          </fieldset>
        </form>
      </div>

    </div>
</div>
</section>

{% endblock %}



</div>


</html>