<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="vsc-initialized">
        <div class="main">
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
            <a href="#"><i class="fa fa-bars fa-2x fa-fw pt-2 mt-1" aria-hidden="true"></i></a>
                <a href="index.html" class="transition">
                    <img src="images/short_logo.png" style="width:5.5rem;">
                </a>                
            <li class="nav-item active">
            <a class="nav-link" href="#">Active</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        </nav>
        
            <div class="profile profile-page">
            <div class="row"style="padding-left:8rem;">
                <div class="col-xs-7 col-sm-6 col-lg-2">
                <div class="card boxed-page" style="width: 19rem;">
                    <img class="card-img-top" src="images/avatar.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Your profile</h5>
                        <p class="card-text">James Brucker, teacher in Kasetsart University</p>
                        <div style="margin: 24px 0;text-align: center;">
                            <a href="#"><i class="fa fa-twitter fa-2x"></i></a>  
                            <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>  
                            <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                            <p class="pt-3">or</p>
                            <a href="0981322686">Tel: 0981322686</a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col-xs-5 col-sm-6 col-lg-8">
                <div class="card boxed-page" style="width: 30rem;">
                    <div class="card-body">
                        <h5 class="card-title">Datail</h5>
                        <p class="card-text">James Brucker, teacher in Kasetsart University</p>
                        <div style="margin: 24px 0;">
                            <a href="#"><i class="fa fa-twitter fa-2x"></i></a>  
                            <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>  
                            <a href="#"><i class="fa fa-facebook fa-2x"></i></a> 
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    <!--Bootstrap jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>