<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="Top">
    <nav class="nav navbar-light bg-faded">
        <a class="nav-brand" href="#">
            <a href="index.html"><img src="images/long-logo-3.png" height="65" alt="BetterTogether">
            </a>
            <!--div class="btn btn-outline-warning">Sign out</div-->
    </nav>
    <div class="container">
        <div class="row main-box">
            <div class="col-md-2 hidden-sm hidden-xs main-box-sidebar">
                <div class="main-box-sidebar-section">
                    <img class="sidebar-profile-thumbnail img-responsive" src="images/avatar.png" alt="Avatar image">
                    <div class="card-body">
                        <h5 class="card-title">Your profile</h5>
                        <p class="card-text">James Brucker, teacher in Kasetsart University</p>
                        <div style="margin: 24px 0;text-align: center;">
                            <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                            <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
                            <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                            <p class="pt-3">or</p>
                            <a href="0981322686" class="fa fa-phone">Tel: 0981322686</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-xs-12 main-box-content">
                <div class="card boxed-page" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">History</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt
                            venenatis dui. Vivamus ut massa porta ex venenatis vestibulum. Praesent sem dolor, ultrices
                            quis luctus non, feugiat sed elit. Fusce eu pulvinar odio. Sed at euismod nisl, et varius
                            mauris. Pellentesque diam risus, tincidunt eget aliquam ac, lobortis sed felis. Orci varius
                            natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras eget
                            elementum risus. Suspendisse at hendrerit nunc. Cras volutpat orci vitae velit feugiat, non
                            convallis sem eleifend. Nullam ligula orci, suscipit molestie metus condimentum, volutpat
                            placerat mauris. Nunc hendrerit est quis arcu porttitor sodales. Sed mauris dolor, iaculis
                            vitae turpis bibendum, hendrerit ornare urna. Nulla nec nisl lectus. Quisque in ligula vitae
                            est vulputate facilisis. Donec turpis nisi, tempor at feugiat ac, pellentesque a velit.</p>
                        <div style="margin: 24px 0;">
                            <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                            <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
                            <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Bootstrap jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>