{% load static %}
<html>

<head>
    <title> Create ShareRide Event </title>
    <link href="{% static "css/shareride-create-style.css" %}" rel="stylesheet">
    <link rel="icon" href="{% static "image/puzzle.png" %}">
</head>

<body class="body">
    <nav class="navbar">
        <a class="navbar-brand">
            <a href="{% static "homepage.html" %}"> <img class="logo" src="{% static "image/long-logo-3.png" %}"
                    height="65" alt="BetterTogether"></a>
        </a>
    </nav>
    <div class="text"> Create ShareRide Event </div>
    <div class="text-1">
        <form action='{% url "BetterTogetherApp:create_share_ride" %}' method="post">
            {% csrf_token %}
            Location Name: {{ form.location_name }}
            <br> Location: {{ form.location }}
            <br> Destination name: {{ form.destination_name }}  
            <br> Destination : {{ form.destination }}  
            <br> Description: {{ form.description }}
            <br> Number of Participants: {{ form.num_people }}
            <h3>Select the time to meet with the others: </h3>{{ date_time }}
            <button type="submit">Submit</button>
        </form>

        <a href="{% url 'BetterTogetherApp:share_ride_index1' %}"> Go BACK to index</a>
</body>

</html>