<html>

<head>
    {% load static %}
    {% block css %}
    <title>Sign Up with BetterTogether</title>
    <link rel="icon" href="{% static "image/puzzle.png" %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/login_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
    </style>

</head>

{% block content %}


<div>
    <section class="forms-section">
        <div class="forms">
            <form class="form form-signup" action='{% url "BetterTogetherApp:signup" %}' method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend>Please, enter your email, password and password confirmation for sign up.</legend>
                    <div class="form-group">
                        <div class="input-block">
                            <div class="input-block">
                                <p>Already have a BetterTogether account? </p>
                                <label for="signup-email">Username</label>
                                <br> {{form.username}}
                            </div>
                            <div class="input-block">
                                <label for="signup-password">Password</label>
                                <br> {{form.password1}}
                            </div>
                            <div class="input-block">
                                <label for="signup-password-confirm">Confirm password</label>
                                <br> {{form.password2}}
                                <button type="submit" class="btn-signup">Sign Up</button>
                            </div>
                            <fieldset>
                                <hr class="line">
                            </fieldset>
                            <fieldset style="text-align:center;"> Or Sign Up With</fieldset>
                            <fieldset>
                                <fieldset>
                                    <div class="spacebox">
                                    </div>
                                </fieldset>
                                <div class="OAuth-Botton">
                                    <ul>
                                        <li>
                                            <a href="{% url "oauth:begin" "google-oauth2" %}?next={{ request.path }}">
                                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                <span> Google</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </fieldset>
            </form>
        </div>
</div>
</section>

{% endblock %}


</div>
{% endblock %}

</html>