*,
*::before,
*::after {
}

body {
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
	background: #FFBF34;
}

.forms-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-title {
	font-size: 32px;
	letter-spacing: 1px;
	color: #fff;
}

.forms {
	display: flex;
	align-items: flex-start;
	margin-top: 30px;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}

	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}

	49.999% {
		z-index: 1;
	}
}

.switcher {
	position: relative;
	cursor: pointer;
	display: block;
	margin-right: auto;
	margin-left: 80px;
	padding: 0;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 18px;
	letter-spacing: .5px;
	color: #999;
	background-color: transparent;
	border: none;
	outline: none;
	transform: translateX(0);
	transition: all .3s ease-out;
}

.form-wrapper.is-active .switcher-login {
	color: #fff;
	transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
	color: #fff;
	transform: translateX(-90px);
}

.underline {
	position: absolute;
	bottom: -5px;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 2px;
}

.underline::before {
	content: '';
	position: absolute;
	top: 0;
	left: inherit;
	display: block;
	width: inherit;
	height: inherit;
	background-color: currentColor;
	transition: transform .2s ease-out;
}

.switcher-login .underline::before {
	transform: translateX(101%);
}

.switcher-signup .underline::before {
	transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
	transform: translateX(0);
}

.form {
	overflow: hidden;
	width: 360px;
	margin-top: 50px;
	padding: 30px 25px;
	border-radius: 5px;
	transform-origin: top;
}

.form-login {
	animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
	animation: showLogin .3s ease-in forwards;
}

@keyframes showLogin {
	0% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}

	50% {
		transform: translate(0, 0);
	}

	100% {
		background-color: #fff;

	}
}

@keyframes hideLogin {
	0% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}

	50% {
		transform: translate(0, 0);
	}

	100% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
}

.form-signup {
	animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
	animation: showSignup .3s ease-in forwards;
}

.form-control {
	border: 1px solid #ccc;
	display: block;
	width: 100%;
	height: 40px;
	padding: 0 20px;
	border-radius: 20px;
	font-family: "Muli-Bold";
	background: none;
}

.form-control:focus {
	border: 1px solid #ae3c33;
}

@keyframes showSignup {
	0% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}

	50% {
		transform: translate(0, 0) scaleY(.8);
	}

	100% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
}

@keyframes hideSignup {
	0% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}

	50% {
		transform: translate(0, 0) scaleY(.8);
	}

	100% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
}

.form fieldset {
	position: relative;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: all .3s ease-out;
}

.form-login fieldset {
	transform: translateX(-50%);
}

.form-signup fieldset {
	transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

input:focus {
	outline: none;
}

input:active {
	outline: none;
}

.input-block {
	margin-bottom: 20px;
}

.input-block label {
	font-size: 14px;
	color: #a1b4b4;
}

.input-block input {
	display: block;
	width: 100%;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 40px;
	color: #3b4465;
	background: #eef9fe;
	border: 1px solid #cddbef;
	border-radius: 20px;
}

.form [type='submit'] {
	opacity: 0;
	display: block;
	min-width: 120px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
	opacity: 1;
	transform: translateX(0);
	transition: all .4s ease-in;
}

.btn-login {
	color: #fbfdff;
	background: crimson;
}
.btn-login:hover {
	box-shadow: #999;
	transform: translateX(-60%) rotate(0deg) skew(0deg) translate(0px, 0px);
}

.btn-signup {
	width: 100px;
	height: 45px;
	border-radius: 25px;
	border: none;
	font-size: 18px;
	color: #fbfdff;
	background:#ff7272;
	padding: 1px 7px 2px;

}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
	text-decoration: none;
	
}
.form-group {
	display: flex;

}

.line {
	display: block;
	margin-top: 1em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}

.spacebox {
	padding-top: 8em;
}

/* OAuth */

.OAuth-Botton {
	margin: 0;
	padding: 0;
	background: #ccc;
	font-family: inherit;
}

ul {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
	margin: 0 5px;
}

ul li a .fa {
	font-size: 40px;
	color: #262626;
	line-height: 80px;
	transition: .5s;
	padding-right: 14px;
}

ul li a span {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 30px;
	color: #262626;
	letter-spacing: 4px;
	transition: .5s;
}

ul li a {
	text-decoration: none;
	display: absolute;
	display: block;
	width: 200px;
	height: 75px;
	background: #fff;
	border: 0.02px solid crimson;
	text-align: left;
	padding-left: 20px;
	transform: rotate(0deg) skew(0deg) translate(0, 0);
	transition: .5s;
}

ul li a:after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: 0px;
	height: 20px;
	width: 100%;
	background: #ff9393;
	border: 0.02px solid crimson;
	transform: .5s;
	transform: rotate(0deg) skewX(0deg);
}

ul li a:hover {
	transform: rotate(0deg) skew(0deg) translate(0px, 0px);
	box-shadow: -20px 30px 30px rgba(0, 0, 0, .2);
}

ul li:hover .fa {
	color: #fff;
}

ul li:hover span {
	color: #fff;
}

ul li:hover:nth-child(1) a {
	background: #dd4b39;
}

ul li:hover:nth-child(1) a:before {
	background: #b33a2b;
}

ul li:hover:nth-child(1) a:after {
	background: #e66a5a;
}